extends layout

block content
	if req.user
		div(class="container-fluid")
			div(class="row")
				div(class="col-sm-3 sidebar admin-sidebar")
					div(class="text-center")
						h2(class="brand")= title
						img(src="/images/flat-avatar.png" class="user-avatar")
						div(class="row")
							a(href="/auth/logout" class="btn btn-white btn-outline btn-rounded btn-sm logout") Logout
						div( class="btn btn-sm btn-block btn-default user-admin-nav" )
							a(href="/admin") USER
						div( class="btn btn-sm btn-block btn-default user-admin-nav" )
							a(href="/admin/roles") ROLES
						div( class="btn btn-sm btn-block btn-default user-admin-nav" )
							a(href="/admin/roles/permission") PERMISSION

				div(class="info-display")
					div(class="col-md-9")
						h2(class="dashboard-heading")= name
						button(class="btn add-permission") Add Permission

					div(class="col-md-9")
						div(class="table-responsive")
							table(class="table")
								thead
									tr
										th(style="text-align: center;") id
										th(style="text-align: center;") Resource
										th(style="text-align: center;") C
										th(style="text-align: center;") R
										th(style="text-align: center;") U
										th(style="text-align: center;") D
										th(style="text-align: center;") Action
								tbody
									each permission in permissions   
										tr
											td(style="text-align: center;")= permission.id
											td(style="text-align: center;")= permission.resource

											if( permission.create )
												td(style="text-align: center;color: #5CB85C;")= permission.create
											else
												td(style="text-align: center;color: #D9534F;")= permission.create

											if( permission.retrieve )
												td(style="text-align: center;color: #5CB85C;")= permission.retrieve
											else
												td(style="text-align: center;color: #D9534F;")= permission.retrieve

											if( permission.modify )
												td(style="text-align: center;color: #5CB85C;")= permission.modify
											else
												td(style="text-align: center;color: #D9534F;")= permission.modify

											if( permission.remove )
												td(style="text-align: center;color: #5CB85C;")= permission.remove
											else
												td(style="text-align: center;color: #D9534F;")= permission.remove

											td(style="text-align: center;")
												a(href="/admin/" + permission.id + "/roles/permission/destroy") 
													button(type="button" class="btn btn-xs btn-danger")
														span(class="glyphicon glyphicon-remove")
												a(href="#" class="permission-edit") 
													button(type="button" class="btn btn-xs btn-success")
														span(class="glyphicon glyphicon-edit")
		script.
			$('.add-permission').click(function(){
				vex.dialog.open({
					message: "<h2 class='dashboard-heading'> Create New Permission </h2>",
					input : "<input name='resource' type='text' placeholder='Resource' required /><label class='checkbox-inline'><input type='checkbox' name='create'>CREATE</label><label class='checkbox-inline'><input type='checkbox' name='retrieve'>RETRIEVE</label><label class='checkbox-inline'><input type='checkbox' name='update'>UPDATE</label><label class='checkbox-inline'><input type='checkbox' name='delete'>DELETE</label>",
					callback: function(data){
						$.ajax({
							type: 'POST',
							url: 'http://localhost:3000/admin/roles/permission/create',
							data: data,
							success: function(a,b,c){
								location.reload();
							},
							error: function(response){
								if( response.status == 409 ){
									vex.dialog.open({
										message: "<h2 class='dashboard-heading'>Permission already exists</h2>"
										});
								}
							}
						})
					}
				});
			});

		script.
			$('.permission-edit').click(function(){
				
				var resource_inp = "<input name='resource' type='text' placeholder='Resource' value='"+ this.parentElement.parentElement.children[1].textContent + "' required />";


				var create_inp = "<label class='checkbox-inline'><input type='checkbox' name='create'";
				if(JSON.parse(this.parentElement.parentElement.children[2].textContent)){
					create_inp += " checked>CREATE</label>";
				}else{
					create_inp += ">CREATE</label>";
				}

				var retrieve_inp = "<label class='checkbox-inline'><input type='checkbox' name='retrieve'";
				if(JSON.parse(this.parentElement.parentElement.children[3].textContent)){
					retrieve_inp += " checked>RETRIEVE</label>";
				}else{
					retrieve_inp += ">RETRIEVE</label>";
				}

				var update_inp = "<label class='checkbox-inline'><input type='checkbox' name='update'";
				if(JSON.parse(this.parentElement.parentElement.children[4].textContent)){
					update_inp += " checked>UPDATE</label>";
				}else{
					update_inp += ">UPDATE</label>";
				}

				var delete_inp = "<label class='checkbox-inline'><input type='checkbox' name='delete'";
				if(JSON.parse(this.parentElement.parentElement.children[5].textContent)){
					delete_inp += " checked>DELETE</label>";
				}else{
					delete_inp += ">DELETE</label>";
				}

				var id_ = this.parentElement.parentElement.children[0].textContent;

				vex.dialog.open({
					message: "<h2 class='dashboard-heading'> Edit Existing Permission </h2>",
					input : resource_inp + create_inp + retrieve_inp + update_inp + delete_inp,
					callback: function(data){
						data['id'] = id_;
						$.ajax({
							type: 'POST',
							url: 'http://localhost:3000/admin/roles/permission/edit',
							data: data,
							success: function(a,b,c){
								location.reload();
							},
							error: function(response){
								if( response.status == 409 ){
									vex.dialog.open({
										message: "<h2 class='dashboard-heading'>Permission already exists</h2>"
										});
								}
							}
						})
					}
				});
			})
	else
		script.
			vex.dialog.open({
				message: "<h2 class='dashboard-heading'> Please login </h2>",
				input : "<input name='username' type='text' placeholder='Email' required /><input name='password' type='password' placeholder='Password' required />",
				callback : function(data){
					$.ajax({
						url: 'http://localhost:3000/auth/login',
						type: 'POST',
						data: data,
						success: function(a,b,c){ 
							location.reload();
							},
						error: function(response){
							console.log( response );
							}
						});
					}
				});
