extends layout

block content

	if req.user
		div(class='column col-sm-10 col-xs-11' id='main')
			div(class='padding')
				div(class='full col-sm-12')
					div(class='row')
						div(class='col-sm-12')
							h2(class="dashboard-heading")= name
							button(class="btn add-role") Add Role

				div(class="col-md-12")
					div(class="table-responsive")
						table(class="table")
							thead
								tr
									th Name
									th Resources
									th Actions
							tbody
								each val, key in resource_display
									tr
										td= key
										td= val
										td 
											a(href="" name=key)
												button(type="button" class="btn btn-xs btn-danger role-delete")
													span(class="glyphicon glyphicon-remove")
				div(class="permission-role-info" style="display: none")
					each permission in permissions
						div(class="display-info" id=permission.id)= permission.resource
		script.
			$('.add-role').click(function(){
				var input_string = "";
				$(".permission-role-info .display-info").each(function(index){
					input_string += "<label class='checkbox-inline'><input name=";
					input_string += this.textContent + " ";
					input_string += "type='checkbox' ";
					input_string += "value=" + this.id + " >"
					input_string += this.textContent +"</label>";
				})
				vex.dialog.open({
					message: "<h2 class='dashboard-heading'> Create New Role </h2>",
					input : "<input name='name' type='text' placeholder='Name' required />"+input_string,
					callback: function(data){
						$.ajax({
							type: 'POST',
							url: "#{base_url}" + '/admin/roles/create',
							data: data,
							success: function(a,b,c){
								location.reload();
							},
							error: function(response){

								if( response.status == 409 ){
									vex.dialog.open({
										message: "<h2 class='dashboard-heading'>" + response.responseText + "</h2>",
										callback: function(toSubmit){
											if( toSubmit ){

											}
										}
									});	
								}
							}
						});
					}
				});
			});

		script.
			$('.role-delete').click(function(e){
				e.preventDefault();
				var _name = this.parentElement.name;
				vex.dialog.open({
					message: "<h2 class='dashboard-heading'> Are you sure you want to delete : </h2><h1 class='dashboard-heading'>" + _name + "</h1>",
					callback: function(toSubmit){
						if( toSubmit ){
							$.ajax({
								type: 'GET',
								url: "/admin/" + _name + "/roles/destroy",
								success: function( cd, message, sendbACK){
									if( message == 'success'	){
										vex.dialog.open({
											message: "<h2 class='dashboard-heading'> Deleted Successfully ... </h2>",
											callback: function(toSubmit){
												if(toSubmit){
													location.reload();
												}
											}
										});
									}
								}
							})

						}
					}
				});	
			})
	else
		script.
			vex.dialog.open({
				message: "<h2 class='dashboard-heading'> Please login </h2>",
				input : "<input name='username' type='text' placeholder='Email' required /><input name='password' type='password' placeholder='Password' required />",
				callback : function(data){
					$.ajax({
						url: "#{base_url}" + '/auth/login',
						type: 'POST',
						data: data,
						success: function(a,b,c){ 
							location.reload();
							},
						error: function(response){
							console.log( response );
							}
						});
					}
				});