extends layout

block content
	if req.user
		div(class='column col-sm-2 col-xs-1 sidebar-offcanvas' id='sidebar' style='text-align: center;')
			ul(class='nav')
				li
					a(href='#' data-toggle='offcanvas' class='visible-xs text-center')
						i(class='glyphicon glyphicon-chevron-right')

			ul(class='nav hidden-xs' id='lg-menu')
				h2(class="brand")= title
				img(src="/images/flat-avatar.png" class="user-avatar")

				div(class="row")
					a(href="/auth/logout" class="btn btn-white btn-outline btn-rounded btn-sm logout") Logout

				li
					a(href='/admin')
						i(class='glyphicon glyphicon-user')  User
				li(class='active')
					a(href='/admin/roles')
						i(class='glyphicon glyphicon-list')  Roles
				li
					a(href='/admin/roles/permission')
						i(class='glyphicon glyphicon-random')  Permission

		div(class='column col-sm-10 col-xs-11' id='main')
			div(class='padding')
				div(class='full col-sm-12')
					div(class='row')
						div(class='col-sm-12')
							h2(class="dashboard-heading")= name
							button(class="btn add-role") Add Role

				div(class="col-md-12")
					div(class="table-responsive")
						table(class="table")
							thead
								tr
									th Name
									th Resources
									th Actions
							tbody
								each val, key in resource_display
									tr
										td= key
										td= val
										td 
											a(href="#")
												button(type="button" class="btn btn-xs btn-danger")
													span(class="glyphicon glyphicon-remove")
				div(class="permission-role-info" style="display: none")
					each permission in permissions
						div(class="display-info" id=permission.id)= permission.resource
		script.
			$('.add-role').click(function(){
				var input_string = "";
				$(".permission-role-info .display-info").each(function(index){
					input_string += "<label class='checkbox-inline'><input name=";
					input_string += this.textContent + " ";
					input_string += "type='checkbox' ";
					input_string += "value=" + this.id + " >"
					input_string += this.textContent +"</label>";

					console.log( input_string );
				})
				vex.dialog.open({
					message: "<h2 class='dashboard-heading'> Create New Role </h2>",
					input : "<input name='name' type='text' placeholder='Name' required />"+input_string,
					callback: function(data){
						$.ajax({
							type: 'POST',
							url: "#{base_url}" + '/admin/roles/create',
							data: data,
							success: function(a,b,c){
								location.reload();
							},
							error: function(response){
								console.log( response );
							}
						})
						console.log( data );
					}
				});
			});
	else
		script.
			vex.dialog.open({
				message: "<h2 class='dashboard-heading'> Please login </h2>",
				input : "<input name='username' type='text' placeholder='Email' required /><input name='password' type='password' placeholder='Password' required />",
				callback : function(data){
					$.ajax({
						url: "#{base_url}" + '/auth/login',
						type: 'POST',
						data: data,
						success: function(a,b,c){ 
							location.reload();
							},
						error: function(response){
							console.log( response );
							}
						});
					}
				});